.serviceCard {
    height: 520px;
}

figure {
    min-height: 240px !important;
}
.serviceCard .badge{
    background-color: #FF3A44;
    color: #ffffff;
    border: none;
}
.serviceCard .badge:hover{
    background-color: #FF3A44;
    opacity: 0.8;
    border: none;
}
.red-button{
    background-color: #FF3A44;
    color: #ffffff;
    border: none;
}
.red-button:hover {
    background-color: #FF3A44;
    opacity: 0.8;
    cursor: pointer;
}
.star-color{
    color: #FC8A06;
}